@charset "UTF-8";
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 2000px) {
  .resetpassword-page {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .resetpassword-page .item-left {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .resetpassword-page .item-right {
    width: 50%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1600px) {
  .resetpassword-page {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .resetpassword-page .item-left {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .resetpassword-page .item-right {
    width: 50%;
  }
}
@media only screen and (min-width: 834px) and (max-width: 1024px) {
  .resetpassword-page {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .resetpassword-page .item-left {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .resetpassword-page .item-right {
    width: 50%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 834px) {
  .resetpassword-page {
    display: block;
  }
  .resetpassword-page .item-left {
    width: 100%;
  }
  .resetpassword-page .item-right {
    width: 100%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .resetpassword-page {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .resetpassword-page .item-left {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .resetpassword-page .item-right {
    width: 50%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .resetpassword-page {
    display: block;
  }
  .resetpassword-page .item-left {
    width: 100%;
  }
  .resetpassword-page .item-right {
    width: 100%;
  }
}
.login-page {
  background: url("../public/image/background_login.png") no-repeat;
  background-position: top;
  background-size: cover;
  height: 130vh;
  display: flex;
  align-items: center;
}
.login-page .login-item {
  margin-left: 30px;
  padding: 50px 40px;
  background-color: white;
  border-radius: 20px;
  width: 500px;
}
.login-page .title-login {
  padding-bottom: 20px;
  padding-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 2.25rem;
  --tw-text-opacity: 1;
  color: rgb(22 163 74/var(--tw-text-opacity));
}
.login-page .login-form .login-form-forgot {
  float: right;
}
.login-page .login-form .ant-col-rtl .login-form-forgot {
  float: left;
}
.login-page .login-form .btn {
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgb(22 163 74/var(--tw-bg-opacity));
}
.login-page .login-form .login-form-text-bottom {
  text-align: center;
  --tw-text-opacity: 1;
  color: rgb(22 163 74/var(--tw-text-opacity));
}
.login-page .login-form .login-form-text-bottom span {
  font-weight: 500;
  cursor: pointer;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  background-color: white;
  display: flex;
}
.header .logo-header {
  padding-left: 10px;
  width: 20%;
  --tw-bg-opacity: 1;
  background-color: rgb(22 163 74/var(--tw-bg-opacity));
}
.header .logo-header .logo-title {
  font-size: 30px;
  line-height: 32px;
  font-weight: 700;
  color: white;
  padding: 20px;
}
.header .nav {
  width: 80%;
  --tw-bg-opacity: 1;
  background-color: rgb(74 222 128/var(--tw-bg-opacity));
}
.header .nav .nav-right {
  text-align: right;
  padding: 20px 40px 0 20px;
}
.header .nav .nav-right .nav-right-title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer-left {
  width: 50%;
  background-color: rgb(241, 197, 53);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer-right {
  width: 50%;
  --tw-bg-opacity: 1;
  background-color: rgb(74 222 128/var(--tw-bg-opacity));
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .slogan {
  font-size: 24px;
  line-height: 32px;
  color: white;
  font-weight: 700;
}

#myVideo {
  width: 100%;
  height: 100%;
}

.video-background {
  margin-top: 50px;
  position: fixed;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  /* Đặt z-index để đảm bảo nó ở phía sau các phần tử khác trên trang */
}

.home-page {
  padding-top: 100px;
  height: 100vh;
}
.home-page .home-page-group {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}
.home-page .home-page-group .home-page-item {
  margin: 20px 0;
  cursor: pointer;
}
.home-page .home-page-group .home-page-item img {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.home-page .home-page-group .home-page-item h1 {
  padding-top: 5px;
  text-align: center;
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(21 128 61/var(--tw-text-opacity));
}

.dat-san-page {
  margin: 0 50px;
  display: flex;
}
.dat-san-page .dat-san-left {
  width: 20%;
}
.dat-san-page .dat-san-right {
  width: 80%;
}
.dat-san-page .dat-san-right .top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.dat-san-page .dat-san-right .top .item-top {
  margin: 0 auto;
}
.dat-san-page .dat-san-right .top .item-top .item-top-title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(22 163 74/var(--tw-text-opacity));
  cursor: pointer;
}
.dat-san-page .dat-san-right .list {
  margin: 15px 30px;
  height: 600px;
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246/var(--tw-bg-opacity));
  border-radius: 1rem;
}
.dat-san-page .dat-san-right .list .list-title {
  text-align: center;
  padding: 20px 0;
  font-size: 1.875rem;
  line-height: 2.25rem;
  border-bottom: solid 2px black;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(22 163 74/var(--tw-text-opacity));
}
.dat-san-page .dat-san-right .list .list-item {
  cursor: pointer;
  margin: 0 20px;
  padding: 20px 30px;
  display: flex;
  border-bottom: solid 2px black;
}
.dat-san-page .dat-san-right .list .list-item .list-item-left {
  width: 20%;
}
.dat-san-page .dat-san-right .list .list-item .list-item-left img {
  border-radius: 1rem;
  height: 150px;
  width: 300px;
}
.dat-san-page .dat-san-right .list .list-item .list-item-right {
  width: 80%;
  padding-left: 20px;
}

.detail {
  display: flex;
}
.detail .detail-left {
  width: 20%;
  height: 100vh;
}
.detail .detail-left img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.detail .detail-right {
  width: 80%;
  padding: 20px 50px;
}
.detail .detail-right .item-detail {
  display: flex;
}
.detail .detail-right .item-detail .item-detail-left {
  width: 20%;
}
.detail .detail-right .item-detail .item-detail-left img {
  height: 180px;
  width: 180px;
  border-radius: 20px;
  margin: 0 auto;
}
.detail .detail-right .item-detail .item-detail-right {
  width: 80%;
  padding-left: 30px;
}
.detail .detail-right .item-detail .item-detail-right h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(22 163 74/var(--tw-text-opacity));
}
.detail .detail-right .desc-detail {
  margin: 50px 0;
  height: 400px;
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246/var(--tw-bg-opacity));
  border-radius: 1rem;
}
.detail .detail-right .desc-detail .img-desc {
  width: 50%;
  padding: 20px 40px;
}
.detail .detail-right .desc-detail .img-desc img {
  border-radius: 20px;
  margin: 0 auto;
}
.detail .detail-right .desc-detail .text-desc {
  width: 50%;
  margin: 20px 40px;
}
.detail .detail-right .desc-detail .rate-desc {
  display: flex;
}
.detail .detail-right .desc-detail .rate-desc .rate-otp1 {
  width: 20%;
}
.detail .detail-right .desc-detail .rate-desc .rate-otp2 {
  width: 60%;
}
.detail .detail-right .desc-detail .rate-desc .rate-otp3 {
  width: 20%;
  text-align: right;
}

.uu-dai {
  display: flex;
  padding-bottom: 20px;
}
.uu-dai .uu-dai-left {
  width: 20%;
  height: 100vh;
}
.uu-dai .uu-dai-left img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.uu-dai .uu-dai-right {
  width: 80%;
  padding: 0 50px;
}

.forum {
  margin: 40px 0;
  border: 2px solid;
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219/var(--tw-border-opacity));
}
.forum .forum-row {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219/var(--tw-border-opacity));
}
.forum .forum-row .forum-row-left {
  width: 20%;
}
.forum .forum-row .forum-row-right {
  width: 80%;
}

.dangKyDoiTac {
  padding-top: 100px;
  background: url("../public/image/background_lienHeDoiTac.png") no-repeat;
  background-size: cover;
  background-position: center;
}
.dangKyDoiTac .breadcrumb-dangKyDoiTac {
  font-size: 1.875rem;
  /* 30px */
  line-height: 2.25rem;
  /* 36px */
  color: white;
  font-weight: 500;
  padding-bottom: 20px;
}
.dangKyDoiTac .formDangKy {
  margin: 0 auto;
  padding: 30px 30px 20px 30px;
  background-color: white;
  border-radius: 30px;
  max-width: 500px;
}
.dangKyDoiTac .formDangKy .label-dangKyDoiTac {
  padding-left: 20px;
  --tw-text-opacity: 1;
  color: rgb(22 163 74/var(--tw-text-opacity));
}
.dangKyDoiTac .formDangKy .title-dangKyDoiTac {
  text-align: center;
  font-size: 2.25rem;
  line-height: 2.5rem;
  --tw-text-opacity: 1;
  color: rgb(21 128 61/var(--tw-text-opacity));
  font-weight: 700;
  padding-bottom: 10px;
}

.signup {
  background: url("../public/image/background_resgister.png") no-repeat;
  background-size: cover;
  background-position: top;
  height: 130vh;
  display: flex;
  align-items: center;
}
.signup .signup-item {
  margin-left: 30px;
  padding: 30px 40px;
  background-color: white;
  border-radius: 20px;
  width: 500px;
}
.signup .signup-item .signup-title {
  padding-bottom: 20px;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgb(22 163 74/var(--tw-text-opacity));
  font-size: 40px;
  line-height: 2rem;
  font-weight: 700;
}
.signup .signup-item .signup-form .title-label {
  padding-left: 20px;
  --tw-text-opacity: 1;
  color: rgb(22 163 74/var(--tw-text-opacity));
}
.signup .signup-item .signup-form .btn {
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgb(22 163 74/var(--tw-bg-opacity));
}
.signup .signup-item .signup-form .signup-form-text-bottom {
  text-align: center;
  --tw-text-opacity: 1;
  color: rgb(22 163 74/var(--tw-text-opacity));
}
.signup .signup-item .signup-form .signup-form-text-bottom span {
  font-weight: 500;
  cursor: pointer;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper .swiper-slide {
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper .swiper-slide img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.breadcrumb {
  padding: 94px 0 20px 0;
  margin: 0 50px;
}
.breadcrumb .breadcrumb-title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  padding-top: 8px;
}/*# sourceMappingURL=index.css.map */